@import "/src/constants/Pallete.scss";
.navigationContainer {
  display: flex;
  align-items: center;
  z-index: 1001;
  transition: all 500ms;
  position: fixed;
  top: 0;
  right: 0;
  .navToggleButton {
    width: 50px;
    height: 100px;
    background: $white;
    border: 1px solid $gray;
    border-right: none;
    border-radius: 5px 0 0 5px;
    color: $gray;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 500px) {
      width: 40px;
      height: 75px;
      align-self: flex-start;
      margin-top: 5px;
    }
  }

  .componentList {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: $white;
    border-left: 1px solid $grayLight;
  }

  &.closed {
    transform: translateX(130px);

    .navToggleButton {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
