@import "/src/constants/Pallete.scss";
.navigationContainer {
  display: flex;
  align-items: center;
  z-index: 1001;
  transition: all 500ms;
  position: fixed;
  top: 0;
  right: 0;

  .navToggleButton {
    width: 2em;
    height: 6em;

    background: $blackLight;
    border: 1px solid $grayTrans;
    border-right: none;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 50%;
    left: -2em;
    &:hover {
      cursor: pointer;
    }
    svg {
      fill: $white;
      width: 1em;
      height: 1em;
    }
    @media (max-width: 500px) {
      width: 2.5em;
      height: 6em;
      align-self: flex-start;
      top: 2em;
      left: -2.5em;
    }
  }

  .componentList {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    padding-bottom: 10em;
    gap: 0.7em;

    background: $blackLight;
    border-left: 1px solid $grayTrans;

    overflow-y: scroll;
  }

  &.closed {
    transform: translateX(8.3em);

    .navToggleButton {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
