@import "/src/pallete.scss";
// $length: 3;
$cardWidth: 450px;
.sliderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sliderView {
    position: relative;
    width: 90%;
    max-width: 450px;
    height: 300px;
    overflow: hidden;
  }
  .slider {
    // width: 100% * $length; //js로 정의
    height: 100%;
    display: flex;
    border: 1px solid $gray;
    transition: all 500ms ease-in-out;
  }

  .slideCard {
    flex: 1;
    &.red {
      background: $red;
    }
    &.orange {
      background: $orange;
    }
    &.green {
      background: $green;
    }
    &.blue {
      background: $blue;
    }
    &.purple {
      background: $purple;
    }
  }
}
