@import "/src/constants/Pallete.scss";
.basicDNDContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .box {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grayLight;
    border-radius: 5px;
    position: relative;

    .grabArea {
      cursor: grab;
      position: absolute;
      top: 0.1rem;
      left: 0.1rem;
      &:active {
        cursor: grabbing;
      }
    }

    .numInfo {
      text-align: center;
      width: 50%;
      height: 50%;
      padding: 5px;
    }
  }
}
