$white: #ffffff;
$whiteTrans: rgba(255, 255, 255, 0.8);

$grayLight: #dedede;
$gray: #aeaeae;
$grayTrans: rgba(125, 125, 125, 0.6);

$black: #1e1e1e;
$blackTrans: rgba(0, 0, 0, 0.6);

$red: #ce4e4e;
$orange: #feae4e;
$green: #4ece4e;
$blue: #4e4ece;
$purple: #ae4ede;
