@import "/src/constants/Pallete.scss";

.barChartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;

  .chartContainer {
    width: 100%;
    max-width: 30em;
    padding: 1em;
    border: 1px solid $grayTrans;
    border-radius: 5px;

    .chartBox {
      margin-bottom: 0.2em;
      width: 100%;
      background: $white;
      display: flex;
      justify-content: flex-start;
      .dataValue {
        flex: 1;
        text-align: center;
      }
      .chart {
        flex: 9;
        .bar {
          transition: width 500ms;
          height: 100%;
          background: $blue;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }
}
