@import "/src/constants/Pallete.scss";
.pageMenuContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  transition: all 500ms ease-out;

  z-index: 1000;
  .toggleMenuBtn {
    width: 5em;
    height: 1.5em;
    border: 1px solid $gray;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background: $white;
    position: absolute;
    left: 47.5%;
    bottom: -1.5em;
    svg {
      width: 1em;
      height: 1em;
      fill: $gray;
      margin-top: 0.2em;
      transform: rotate(270deg);
    }
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 500px) {
      left: 40%;
    }
  }
  .sliderMenu {
    border-bottom: 1px solid $grayLight;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    gap: 0.6em;
    padding: 1.5em;
    background: $white;
    width: 100%;
    height: 6.25em;
    overflow-x: scroll;
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6em;
      width: 6.25em;
      height: 3em;
      border: 1px solid $grayLight;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      color: $black;

      &.selected {
        // background: $grayLight;
      }
    }
  }

  &.closed {
    top: -6.25em;
    .toggleMenuBtn {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
