@import "/src/constants/Pallete.scss";
// $length: 3;
.circular_sliderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sliderView {
    position: relative;
    width: 90%;
    max-width: 450px;
    height: 300px;
    overflow: hidden;
  }
  .slider {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid $gray;
    transition: all 500ms ease-in-out;
  }

  .slideCard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    transition: all 500ms ease-in-out;
    &.red {
      background: $red;
    }
    &.orange {
      background: $orange;
    }
    &.green {
      background: $green;
    }
    &.blue {
      background: $blue;
    }
    &.purple {
      background: $purple;
    }
  }
}
