@import "/src/constants/Pallete.scss";

.basicModalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .popBtn {
    font-size: 1.1em;
    padding: 1em 2em;
    border: $grayTrans;
    background: $purple;
    border-radius: 5px;
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }

  .modalOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blackTrans;
    z-index: 2000;

    .modal {
      width: 18em;
      height: 12em;
      background: $white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      .closeBtn {
        font-size: 0.9em;
        padding: 0.5em 1em;
        border: $grayTrans;
        background: $red;
        border-radius: 5px;
        color: $white;
        &:hover {
          cursor: pointer;
        }
      }
      animation: popModal;
      animation-duration: 700ms;
    }
    @keyframes popModal {
      0% {
        margin-top: 90%;
      }
    }
  }
}
