@import "/src/constants/Pallete.scss";

.scrollSliderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .sliderTabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    .sliderTab {
      border: 1px solid $grayLight;
      padding: 0.4em;
      background: $white;
      font-size: 0.6em;
      &.selected {
        background: $blackTrans;
        color: $white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .sliderView {
    width: 90%;
    max-width: 16em;
    height: 20em;
    border: 1px solid $blackTrans;
    overflow-x: scroll;
    scroll-behavior: smooth; // 스크롤 변경시 애니메이션
    padding: 0.5em 0;
  }
  .slider {
    height: 100%;
    display: flex;
  }
  .sliderCard {
    flex: 1;
    background: $white;
    border-right: 1px solid $grayTrans;
    padding: 2em;
    color: $white;
    p {
      margin-top: 50%;
    }
    :last-child() {
      border: none;
    }
  }
}
